.todoListBox{
    width: 600px;
    border: 5px solid #83b4b4;
	border-radius: 10px;
    margin: auto;
}
body{
	background-color: rgb(241, 233, 233);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1.title {
	text-align: center;
	color: black;
	letter-spacing: 2px;
}
h1.todo-header {
	background: #83b4b4;
	color: rgb(87, 88, 88);
    text-align: center;
	margin: 0;
	padding: 10px 20px;
	
	font-size: 45px;
	font-weight: 400;
}

/*  */

ul {
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	padding-left: 10px;
	/* line-height: 2em; */
	/* margin: 0; */
	color: #666;
}

input#addToDo {
	font-size: 18px;
	color: #7c7c7c;
	background: #f8fbfc;
	border: 1px solid #83b4b4;
	border-bottom: 3px solid #83b4b4;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-box: border-box;
}


.icons{ 
	/* float: right; */
	position: relative;
	left: 530px;
	bottom: 20px;
	font-size: larger;
	
	
}
button{
	font-size: 20px;
	margin-top: 10px;
	margin-left: 265px;
	background: rgb(141, 226, 198);
	border-radius: 10px;
}
.todo-row{
	border-bottom: 1px solid black;
	font-size: large;
	height: 50px;
}
.todo-app{
	margin-top: 100px;
	border-top: none;
}
.list-group-item{
	background-color: rgb(241, 233, 233);
	border: none;
	margin-bottom: none;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
